body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff; /* MAIN BACKGROUND COLOR */
}

h1 {
    font-size: 45px;
    font-weight: 500;
    line-height: 55px;
  }
  
  h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
  }
  
  h4 {
    line-height: 35px;
    font-size: 25px;
    font-weight: 400;
  }
  
  h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

nav {
    background-color: #000; /* NAVBAR BACKGROUND COLOR */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: auto;
    max-width: 12.5%;
}

.logo img {
    height: auto;
    max-width: 100%;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Align items vertically */
}

.nav-items li {
    margin: 0 15px;
}

.nav-items li a {
    text-decoration: none;
    color: #989898; /* NAVBAR TEXT COLOR */
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-items li a:hover {
    font-weight: bold;
    color: #fff; /* NAVBAR TEXT HOVER COLOR */
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    height: 30px;
    width: auto;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.header {
    background-image: url(./Images-Vids/photo2.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

.header .box {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(0%,-50%);
    max-width: 50%;
    height: fit-content;
    /*background-color: ;*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}
  
.header .box h1 {
    color: white;
}
  
.header .box h2 {
    color: white;
}
  
.header .box p {
    color: white;
}
  
.header .btns {
    display: flex;
    gap: 1rem;
}
  
.header .box .btn {
    margin-top: 1rem;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    background-color: #989898; /*Change color for my work and contact me boxes*/
    width: fit-content;
    text-transform: capitalize;
    transition: transform 0.3s ease;
}
  
.header .box .btn:hover {
    color: #444;
    background-color: #eee; /*Change color for my work and contact me boxes*/
    transform: scale(1.1);
}

section {
    padding: 50px 20px;
    text-align: center;
    background-color: #e2e2e2; /* SECTION BACKGROUND COLOR*/
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 20px;
    color: #000; /* SECTION TITLE COLOR */
}

section p {
    color: #000; /* SECTION TEXT COLOR */
    font-size: 16px;
}

#gallery {
    text-align: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-list {
    list-style: none; /* Remove bullet points */
}

@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 576px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 992px) {
    .logo {
        max-width: 40%;
    }

    .nav-items li {
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    .logo {
        max-width: 50%;
    }

    .nav-items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-items li {
        margin: 10px;
    }
}

@media (max-width: 576px) {
    .logo {
        max-width: 60%;
    }

    .nav-items li {
        margin: 5px;
    }
}

